.block-mision-vision {
    min-height: 100vh;
    height    : 150vh;

    .wrapper-content {
        display           : grid;
        grid-template-rows: 35% 1fr;
    }
}

.dp-bg-primary {
    background-color: $primary;
}

.dp-bg-img {
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
}