@import "common/variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap/scss/bootstrap.scss";
// endbower

@import "deeply/vars";
@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";
@import "deeply/main.scss";


//Estilos del Header

.header-copergo {
    background-color: #103e93;
    height          : 80px;
    display         : flex;
    align-items     : center;
    color           : #FFF;

    #navbarNav {
        display        : flex;
        justify-content: flex-end;

        ul {
            display: contents;

            li {
                margin-left: 42px;

                a {
                    color: #FFF;
                }
            }
        }
    }
}


//Estilos del Home

.content-principal {
    padding: 0;

    img {
        width: 100%;
    }
}

.content-bloques {
    .bloque {
        height: 80%;

        img {
            width : 100%;
            height: 100%;
        }

        .text-bloque {
            height          : 100%;
            justify-content : center;
            display         : flex;
            flex-direction  : column;
            position        : relative;
            background-color: #b1b2b7;
            color           : #FFF;

            .ver_mas {
                bottom       : 0;
                position     : absolute;
                width        : 100%;
                text-align   : center;
                margin-bottom: 15px;

                a {
                    color          : #FFF;
                    text-decoration: none;
                    font-size      : 12px;
                }
            }

            h2 {
                font-size : 19px;
                text-align: center;
            }

            .title {
                border-bottom: 3px solid #FFF;
                margin       : 0 5px;
            }
        }
    }
}

//Estilos del footer

.content-info {
    background-color: #3e3e3e;
    color           : #FFF;
    height          : 260px;
    align-items     : center;
    display         : flex;
    font-size       : 13px;
}